In [18]:
import requests
import pandas as pd

# Lista para armazenar todos os pilotos
all_drivers = []

# Vamos varrer desde 1950 até 2025
url = "https://api.jolpi.ca/ergast/f1/2025/drivers/"
response = requests.get(url)
data = response.json()

In [19]:
drivers = data['MRData']['DriverTable']['Drivers']

In [20]:
all_drivers = []

In [21]:
for d in drivers:
        all_drivers.append({
            'driverId': d.get('driverId'),
            'permanentNumber': d.get('permanentNumber'),
            'code': d.get('code'),
            'givenName': d.get('givenName'),
            'familyName': d.get('familyName'),
            'dateOfBirth': d.get('dateOfBirth'),
            'nationality': d.get('nationality'),
            'season': year
        })

In [22]:
df_drivers = pd.DataFrame(all_drivers)

In [23]:
df_drivers = df_drivers.drop_duplicates(subset=['driverId']).reset_index(drop=True)

In [25]:
print(df_drivers.shape)
df_drivers

(21, 8)

,driverId,permanentNumber,code,givenName,familyName,dateOfBirth,nationality,season
0,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,1950
1,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,1950
2,antonelli,12,ANT,Andrea Kimi,Antonelli,2006-08-25,Italian,1950
3,bearman,87,BEA,Oliver,Bearman,2005-05-08,British,1950
4,bortoleto,5,BOR,Gabriel,Bortoleto,2004-10-14,Brazilian,1950
5,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentine,1950
6,doohan,7,DOO,Jack,Doohan,2003-01-20,Australian,1950
7,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,1950
8,hadjar,6,HAD,Isack,Hadjar,2004-09-28,French,1950
9,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,1950
10,hulkenberg,27,HUL,Nico,Hülkenberg,1987-08-19,German,1950
11,lawson,30,LAW,Liam,Lawson,2002-02-11,New Zealander,1950
12,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,1950
13,norris,4,NOR,Lando,Norris,1999-11-13,British,1950
14,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,1950
15,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,1950
16,russell,63,RUS,George,Russell,1998-02-15,British,1950
17,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,1950
18,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,1950
19,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,1950
20,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,1950